<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <!--
  Welcome to Tailwind Play, the official Tailwind CSS playground!

  Everything here works just like it does when you're running Tailwind locally
  with a real build pipeline. You can customize your config file, use features
  like `@apply`, or even add third-party plugins.

  Feel free to play with this example if you're just learning, or trash it and
  start from scratch if you know enough to be dangerous. Have fun!
-->
    <div
      class="relative flex min-h-screen flex-col justify-center overflow-hidden bg-gray-50 py-6 sm:py-12"
    >
      <img
        src="https://play.tailwindcss.com/img/beams.jpg"
        alt=""
        class="absolute top-1/2 left-1/2 max-w-none -translate-x-1/2 -translate-y-1/2"
        width="1308"
      />
      <div
        class="absolute inset-0 bg-[url(https://play.tailwindcss.com/img/grid.svg)] bg-center [mask-image:linear-gradient(180deg,white,rgba(255,255,255,0))]"
      ></div>
      <div
        class="relative bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10 w-1/2 max-sm:w-full"
      >

<a href="/menu" class="font-medium text-blue-600 dark:text-blue-500 hover:underline justify-end">more options</a>

        <div>
          <h1 class="text-3xl mb-5 text-center">Add Attendance</h1>
          <form class="max-w-sm mx-auto" method="post" action="/addAttendance/morning">
            <div class="mb-5">
              <label
                for="email"
                class="block mb-2 text-sm font-medium text-gray-900"
                >Your email</label
              >
              <input
                type="email"
                id="email"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                placeholder="name@flowbite.com"
                name="email"
                required
              />
            </div>
            <div class="mb-5">
              <label
                for="password"
                class="block mb-2 text-sm font-medium text-gray-900"
                >Your password</label
              >
              <input
                type="text"
                id="password"
                name="password"
                placeholder="********"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                required
              />
            </div>

            <div class="mb-5">
              <label for="countries" class="block mb-2 text-sm font-medium text-gray-900" >Select Shift</label>
              <select id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" name="addendanceType">
            
                <option selected>Morning</option>
                <option>Evening</option>
                <option>Absent</option>
      
              </select>
            </div>
   
            <div class="flex justify-center">
              <button type="submit" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 ">Add Attendance</button>
            </div>
          </form>
        </div>

        <hr class="my-5">
        <div>
          <h1 class="text-3xl text-center">Get Attendance</h1>
          <form class="max-w-sm mx-auto" method="post" action="/getAttendance/all">
            <div class="mb-2">
              <label
                for="email"
                class="block mb-2 text-sm font-medium text-gray-900"
                >Your email</label
              >
              <input
                type="email"
                id="email"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                placeholder="name@flowbite.com"
                name="email"
                required
              />

            </div>
            <div class="mb-5">
              <label
                for="setmonth"
                class="block mb-2 text-sm font-medium text-gray-900"
                >Attendance Month</label
              >
              <input
                type="month"
                id="setmonth"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                placeholder="name@flowbite.com"
                name="month"
                required
              />

            </div>
    
   
   
            <div class="flex justify-center">
              <button type="submit" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 ">Get All Attendance</button>
            </div>
          </form>
        </div>


        </div>
      </div>
    </div>
    <script>
      const date = new Date();
      let current = date.getFullYear()+"-"+(date.getMonth()+1);
      document.getElementById("setmonth").value = current.length === 6? current.replace("-","-0"):current;
    </script>
  </body>
</html>
