<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <h1 class="text-2xl font-bold text-center my-3">Extra Options</h1>
    <div class="min-w-screen min-h-screen flex justify-center items-center">
      <div class="w-1/2 max-sm:w-full flex gap-6 flex-col">
        <form
          class="max-w-sm mx-auto bg-slate-600 w-full p-6 rounded-md"
          method="post"
          action="/update-attendance"
        >
          <h1 class="font-bold text-center text-2xl text-gray-200">
            Update Attendance
          </h1>
          <div class="mb-5">
            <label
              for="email"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Your email</label
            >
            <input
              type="email"
              id="email"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              placeholder="email@gmail.com"
              name="email"
              required
            />
          </div>
          <div class="mb-5">
            <label
              for="password"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Your password</label
            >
            <input
              type="text"
              id="password"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              placeholder="******"
              name="password"
              required
            />
          </div>
          <div class="mb-5">
            <label
              for="mongoid"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Attendance ID</label
            >
            <input
              type="text"
              id="mongoid"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              placeholder="Attendance _id"
              name="_id"
              required
            />
          </div>
          <div class="mb-5">
            <label
              for="countries"
              class="block mb-2 text-sm font-medium text-gray-900"
              >Select isPresent</label
            >
            <select
              id="countries"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              name="isPresent"
            >
              <option>true</option>
              <option>false</option>
            </select>
          </div>

          <div class="grid grid-cols-2 gap-4 mb-4">
            <div>
              <label
                for="start-time"
                class="block mb-2 text-sm font-medium text-gray-900"
                >In time:</label
              >
              <div class="relative">
                <div
                  class="absolute inset-y-0 end-0 top-0 flex items-center pe-3.5 pointer-events-none"
                >
                  <svg
                    class="w-4 h-4 text-gray-500 dark:text-gray-400"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 24 24"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v4a1 1 0 0 0 .293.707l3 3a1 1 0 0 0 1.414-1.414L13 11.586V8Z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </div>
                <input
                  type="time"
                  id="start-time"
                  class="bg-gray-50 border leading-none border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                  min="08:00"
                  name="inTime"
                />
              </div>
            </div>
            <div>
              <label
                for="end-time"
                class="block mb-2 text-sm font-medium text-gray-900"
                >Out time:</label
              >
              <div class="relative">
                <div
                  class="absolute inset-y-0 end-0 top-0 flex items-center pe-3.5 pointer-events-none"
                >
                  <svg
                    class="w-4 h-4 text-gray-500 dark:text-gray-400"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    viewBox="0 0 24 24"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm11-4a1 1 0 1 0-2 0v4a1 1 0 0 0 .293.707l3 3a1 1 0 0 0 1.414-1.414L13 11.586V8Z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </div>
                <input
                  type="time"
                  id="end-time"
                  class="bg-gray-50 border leading-none border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
                  min="08:00"
                  name="outTime"
                />
              </div>
            </div>
          </div>
          <button
            type="submit"
            class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-full text-sm px-5 py-2.5 me-2 mb-2 w-full"
          >
            Update Attendance
          </button>
        </form>

        <!-- <form class="max-w-sm mx-auto bg-slate-600 w-full p-6 rounded-md">
          <h1 class="font-bold text-center text-2xl text-gray-200">
            Update Attendance
          </h1>
          <div class="mb-5">
            <label
              for="email"
              class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
              >Your email</label
            >
            <input
              type="email"
              id="email"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
              placeholder="name@flowbite.com"
              required
            />
          </div>
          <button
            type="submit"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-ful px-5 py-2.5 text-center"
          >
            Submit
          </button>
        </form> -->
      </div>
    </div>
  </body>
</html>
